.container {
  text-align: center;
  margin-top: 50px;
}

#question {
  font-size: 24px;
}

#answerInput {
  margin-top: 25px;
  padding: 3px;
}

#sendButton {
  margin-top: 10px;
  padding: 5px 20px;
}

#noAnswers {
  margin-top: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}